header {
  line-height: 1;
  border-bottom: 1px solid rgba(161, 161, 161, 0.445);
  padding-bottom: 1.2em;
}

.primary-font {
  color: #6c757d;
}

.primary-font:hover,
.button-sign:hover {
  color: #6c757d;
  text-decoration: underline;
}

.blogpost-title {
  font-size: 3rem;
}

.disabled-btn {
  cursor: default;
}

.search-box {
  cursor: pointer;
}

.link-white {
  color: white;
  font-weight: 700;
  font-size: large;
}

.link-white:hover {
  text-decoration: underline;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.thumbnail-box {
  background-color: #55595c;
}

.thumbnail {
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
  align-content: center;
}

.footer-blog {
  margin-top: 1em;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
}
