<nav class="d-flex justify-content-around navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <h2 class="navbar-brand">Meta Task Manager</h2>
    <app-create-task></app-create-task>
</nav>

<app-task-section></app-task-section>