<div class="card p-3 mb-2 shadow-sm">

    <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
            <div>
                <h6 class="mb-0">{{currentTask.title}}</h6>
                <small *ngIf="currentTask.status!='Completed'">Creation Date: {{currentTask.creationDate}}</small>
                <small *ngIf="currentTask.status=='Completed'">Completion Date: {{currentTask.completionDate}}</small>
            </div>
        </div>
        <!--Modal for update or delete task-->
        <app-update-task [selectedTask]=currentTask *ngIf="currentTask.status!='Completed'"></app-update-task>
    </div>
    <div class="mt-2">
        <div>{{currentTask.description}} </div>
    </div>
    <hr [ngClass]="currentTask.priority" class="mb-0">
</div>