hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(247, 11, 11, 0.644);
}

.low {
    border-top: 5px solid rgba(31, 247, 11, 0.644);
}

.medium {
    border-top: 5px solid rgba(3, 133, 143, 0.644);
}