.body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    line-height: 1em;
    background-color: rgb(239, 243, 246);
}

.font {
    font-family: "Rubik", sans-serif;
}

.sidebar {
    height: 100%;
    width: 240px;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.sidebar-list {
    overflow-y: auto;
    top: 20%;
    margin-top: 120px;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    height: calc(100% - 120px);
}

table th {
    width: auto !important;
}

.logo-text {
    letter-spacing: .1em;
    font-size: 20px;
    font-weight: 800;
    color: #2d3b48;
}

.logo {
    position: fixed;
    background: white;
    height: 120px;
    width: inherit;
}

.main {
    padding-left: 240px;
    z-index: -1;
}

.gray-heading-sm {
    color: lightslategray;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Rubik';
    padding: .25em 1.7em;
    text-align: start;
    vertical-align: middle;
}

.sidebar-icon {
    height: 12px;
    width: 12px;
    position: sticky;
}

.arrow-icon {
    font-size: 2x;
}

.list-row {
    text-decoration: none;
    color: #444444;
    margin-bottom: .4em;
    padding: .8em 0 .8em .3em;
}

.active {
    background-color: #5b6be826;
    border-right-color: #5b6be826;
    color: #5b6be8;
    text-decoration: none;
    margin: .4em 0;
    padding: .8em 0 .8em .3em;
}

.list-row:hover,
.active:hover {
    text-decoration: none;
    color: #5b6be8;
}

.list-items {
    font-size: 14px;
    color: #2d3b48cc;
    font-family: "Rubik";
    text-decoration: none;
    font-weight: 200;
    padding-left: 4em;
}

.list-items:hover {
    font-size: 14px;
    color: #333333;
    font-family: "Rubik";
    text-decoration: none;
}

li {
    height: 2.25em;
}

.circle-light-purple {
    color: #5b6be8;
    background-color: #5b6be826;
}

.badge-purple {
    color: white;
    background-color: #5b6be8;
}

.badge-sky-blue {
    color: white;
    background-color: #40a4f1;
}

.badge-light-red {
    color: white;
    background-color: #ec536c;
}

.nav-icon-size {
    font-size: 20px;
}

.noti-badge {
    top: -15px !important;
    right: 35% !important;
    font-size: 11px;
    background-color: #ec536c;
    color: white;
}

.dropdown-menu {
    width: 290px;
}

.noti-profile-width {
    width: 180px;
}

.noti-dropdown-text {
    text-justify: distribute-all-lines;
    line-height: .2em;
}

.custom-search {
    font-size: 14px;
    font-family: Rubik;
    background-color: #6d7beb;
    color: white;
    width: 10.5em;
}

.custom-search::placeholder {
    color: #d3d8f9;
}

.custom-search:focus {
    background-color: #6d7beb;
    color: white;
    border: none;
    box-shadow: 0 0 0;
}

.custom-search-btn {
    color: #d3d8f9;
}

.custom-search-btn:focus {
    box-shadow: 0 0 0;
}

.custom-search-btn:hover {
    color: #d3d8f9;
}

.nav-right-part button:focus {
    box-shadow: 0 0 0;
}

.cbg-blue {
    background-color: #5b6be8;
}

.cbg-green {
    background-color: #3cab94;
}

.cbg-yellow {
    background-color: #f5b225;
}

.hover-trigger>div>i {
    color: white;
    background-color: gray;
}

.hover-trigger:hover>div>i {
    background-color: white;
    color: gray;
    transition: color 1s;
    transition: background-color 1s;
    transform: scale(1.2, 1.2);
    transition: transform 0.8s;
}

.hover-trigger-1>div>i,
.hover-trigger-2>div>i,
.hover-trigger-3>div>i {
    color: white;
}

.hover-trigger-1:hover>div>i,
.hover-trigger-2:hover>div>i,
.hover-trigger-3:hover>div>i {
    transform: scale(1.2, 1.2);
    background-color: white;
    transition: color 1s;
    transition: background-color 1s;
    transform: scale(1.2, 1.2);
    transition: transform 0.8s;
}

.hover-trigger-1:hover>div>i {
    color: #5b6be8;
}

.hover-trigger-2:hover>div>i {
    color: #3cab94;
}

.hover-trigger-3:hover>div>i {
    color: #f5b225;
}

.bg-custom {
    background-color: #5b6be8;
}

.font-color {
    color: #5b6be8;
}

.bg-light-blue {
    background-color: #6d7beb;
}

.nav-noti-title {
    background-color: #eff3f6;
    width: auto;
}

.border-1 {
    border: 1px solid blue;
}

.text-sm {
    font-size: 0.9rem;
}

.social-icon {
    font-size: xxx-large;
}

.social-stats,
.social-stats:hover {
    font-size: xx-large;
    font-family: Rubik;
    color: white;
    text-decoration: none;
}

.social-stats-val,
.social-stats-val:hover {
    font-size: 15px;
    font-family: Rubik;
    color: white;
    text-decoration: none;
}

.weather-icon {
    font-size: 60px;
}

.weather-icon-2 {
    font-size: 23px;
}

.text-font-size-fifteen {
    font-size: 15px;
    font-weight: 700;
    font-family: 'Rubik';
}

.text-font-size-thirteen {
    font-size: 13px;
    font-weight: 700;
    font-family: 'Rubik';
}

.text-font-size-small {
    font-size: 11px;
    font-family: 'Rubik';
}

.star-rating {
    font-size: 12px;
}

.fs-fifteen {
    font-size: 15px;
    color: rgb(112, 112, 112)
}

.flag {
    width: 2.25em;
}

.table-font {
    font-size: 15px;
    font-family: 'Rubik';
}

.foot {
    background-color: #f9f9f9;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    bottom: 0;
    color: #2d3b48;
    text-align: center;
    padding: 1.15em;
    font-size: 15px;
    font-family: 'Rubik';
}

.user-icon-width {
    font-size: 38px;
}

.text-success {
    color: #3cab94 !important;
}

.text-danger {
    color: #ec536c !important;
}

.user-list {
    overflow-y: auto;
    font-family: 'Rubik', sans-serif;
    height: 347px;
    padding-right: 1em;
    font-size: 16px;
}