* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    --primary-font: "Roboto", sans-serif;
    --primary-color: #648cff;
    --secondary-color-orange: rgba(99, 136, 251, 255);
    --secondary-color-blue: rgba(69, 99, 197, 255);
    --footer-color: rgba(69, 99, 197, 255);
    --footer-color-dark: rgba(56, 58, 83, 255);
    --background-color: rgba(69, 99, 197, 255);
    --primary-font-color: black;
    --border-test: 2px solid red;
}

html {
    margin: 0px 1%;
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font);
    background-image: url(../images/bodybg.png);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    font-weight: bold;
    color: whitesmoke;
    padding-top: 1%;
    letter-spacing: 0.1em;
}

.image-logo {
    text-align: center;
    flex-grow: 1;
    margin-left: 5%;
    width: fit-content;
    font-size: large;
}

.layer {
    height: 30px;
    width: 30px;
}

.menu {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Ubuntu";
    width: max-content;
    font-size: small;
}

.menu a {
    padding: 1% 1.5%;
    text-decoration: none;
    color: whitesmoke;
}

.social-media-links {
    flex-grow: 1;
    display: flex;
    justify-content: left;
    width: fit-content;
}

.social-media-links i {
    padding: 1% 3%;
}

.homebg {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.banner-container,
.footer-container,
.review-container,
.screenshot-container {
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container {
    background: url(../images/downloadbg.png);
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}

.banner-heading {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-start;
    color: whitesmoke;
    font-family: Ubuntu;
    font-size: x-large;
    letter-spacing: 1px;
}

.banner-right,
.footer-right {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.banner-right img,
.footer-right img {
    width: 50%;
    height: auto;
}

.banner-buttons,
.footer-buttons {
    display: flex;
    align-items: flex-end;
    height: 18%;
}

.banner-buttons button {
    padding: 14px 20px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    font-family: ubuntu;
    color: whitesmoke;
    cursor: pointer;
}

.download-apple,
.download-gplay {
    padding: 14px 20px;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}

.banner-buttons .download {
    background-color: #fc6a42;
    margin-right: 12px;
}

.banner-buttons .download:hover {
    background-color: whitesmoke;
    color: #fc6a42;
}

.banner-buttons .features {
    background-color: #4466c9;
}

.banner-buttons .features:hover {
    background-color: whitesmoke;
    color: #4466c9;
}

.icon:hover {
    color: #fc6a42;
    background-color: whitesmoke;
    border-radius: 10%;
    cursor: pointer;
}

.menu>a:hover {
    color: #fc6a42;
    background-color: whitesmoke;
    border-radius: 3%;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
}


/* Features start here */

.feature-heading {
    margin-top: 16%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
}

.text {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family: ubuntu;
}

.text-title {
    color: var(--primary-color);
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 28px;
}

.text-desc {
    padding-top: 2%;
    color: rgb(170, 169, 169);
    font-size: 15px;
}

.feature-container {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.feature {
    width: 29%;
    display: flex;
    flex-direction: row;
    font-family: ubuntu;
    padding-right: 50px;
}

.left-part {
    width: fit-content;
    font-size: 30px;
    color: rgba(255, 68, 0, 0.705);
}

.right-part {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    text-align: justify;
    overflow: visible;
    padding-left: 16px;
}

.right-part .title {
    font-size: larger;
    padding-bottom: 10px;
    font-weight: bolder;
}

.right-part .desc {
    height: auto;
    font-size: 15px;
    color: rgb(170, 169, 169);
}

div.leftmost {
    display: inline-block;
    transform: scale(0.7, 0.7) translate(77%, 6%) perspective(200px) rotateY(2deg);
    z-index: -2;
}

div.left {
    width: auto;
    height: auto;
    display: inline-block;
    transform: scale(0.9, 0.9) translate(12%, 7%) perspective(200px) rotateY(2deg);
    z-index: -1;
}

div.middle {
    width: auto;
    height: auto;
    display: inline-block;
    z-index: 0;
}

div.right {
    width: auto;
    height: auto;
    transform: scale(0.9, 0.9) translate(-12%, 7%) perspective(200px) rotateY(-2deg);
    display: inline-block;
    z-index: -1;
}

div.rightmost {
    display: inline-block;
    transform: scale(0.7, 0.7) translate(-77%, 6%) perspective(200px) rotateY(-2deg);
    z-index: -2;
}

.image-container {
    max-width: 100%;
    height: auto;
    display: flex;
    margin-top: 5%;
    flex-direction: row;
}

.image {
    width: 100%;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.arrow-icon {
    height: 2em;
    width: 2em;
    margin-bottom: 19%;
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: auto;
    align-self: flex-end;
    font-weight: bolder;
}

.arrow-icon:hover {
    transition: transform 0.6s;
    cursor: pointer;
    transform: scale(1.5, 1.5);
}

.right-arrow {
    right: 15%;
}

.left-arrow {
    left: 15%;
}


/* Feature end here */


/* Screenshot start here */

.screenshot-heading,
.reviews-heading {
    margin-top: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
}

.download-apple {
    padding-left: 10px;
}

.download-gplay {
    padding-left: 0px;
}

.footer-left h2 {
    font-size: xx-large;
    width: fit-content;
}

.footer-right img {
    height: 100%;
    width: auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Ubuntu;
    font-size: x-large;
    letter-spacing: 1px;
    color: white;
    height: 70%;
}

footer {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--footer-color-dark);
}

footer>nav {
    background-color: var(--footer-color-dark);
}

.footer-text {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgba(128, 128, 128, 0.753);
    background-color: var(--footer-color-dark);
    font-size: small;
}

hr {
    border-top: 0 solid;
    width: 85%;
    color: #edeaea30;
    margin: 3%;
    align-self: center;
}

.desc-container {
    overflow-wrap: break-word;
    font-size: 68%;
}

.footer-container {
    background-color: var(--primary-color);
    margin-top: 4%;
}

.review-title {
    font-family: ubuntu;
    font-size: large;
    color: var(--footer-color-dark);
    padding-top: 2%;
    font-weight: bold;
}

.author {
    padding-top: 2%;
    font-size: small;
    font-family: 'Ubuntu';
    overflow-wrap: break-word;
    color: var(--footer-color-dark);
}

.review-main {
    display: flex;
    flex-direction: column;
    padding: 0px 13%;
}

.review-container {
    justify-content: space-around;
}

.review-quote-left,
.review-quote-right {
    color: var(--primary-color);
    content: '\201D';
    font-size: 80px;
    height: 36px;
}

.review-quote-right {
    align-self: flex-end;
    margin-right: 2.5%;
}

.reviews {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.screen-left {
    display: inline-flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 10%;
}

.screen-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 5em;
}

.text-rotate {
    display: inline-block;
    width: 1.5em;
    font-size: 13em;
    color: #d5d5d5;
    line-height: 1.7;
    z-index: -1;
    font-family: 'Ubuntu';
}

.text-rotate-inner {
    display: flex;
    white-space: nowrap;
    font-weight: 200;
    transform: translate(0, -3%) rotate( 90deg);
}

.text-roate-inner:after {
    content: "";
    float: left;
    margin-top: 100%;
}

.text-cloudy-rotate {
    font-size: 12em;
    line-height: 1;
    z-index: -1;
}

.text-sunny-rotate {
    font-size: 12em;
    z-index: -1;
    letter-spacing: 2px;
}

.screenshots {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
}

.weather-screen {
    height: 32em;
    width: auto;
    position: relative;
    left: 24%;
    top: 0px;
}

.w-screen {
    position: relative;
    left: 34%;
}

.weather-logo {
    width: 18%;
    height: auto;
}

.w-title {
    font-family: ubuntu;
    font-weight: 900;
    margin: 2% 0px;
    font-size: xx-large;
}

.w-desc {
    font-family: ubuntu;
    font-size: 19px;
    color: gray;
    width: 63%;
    text-align: justify;
    line-height: 1.3;
}

.w-left-div {
    display: flex;
    flex-direction: row;
}

.circle {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    z-index: 3;
}

.rainy-circle {
    position: absolute;
    background-color: #B7FBEE;
    margin-top: 152px;
    left: 37%;
}

.sunny-circle {
    position: absolute;
    background-color: #f2a14e;
    margin-top: 128px;
    left: 82%;
}

.inner-sunny {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 37%;
}

.cloudy-circle {
    position: absolute;
    background-color: #FFFF66;
    margin-top: 128px;
    left: 37%;
}

.deg-circle {
    padding-left: 20px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 1.2em;
    font-family: ubuntu;
}

.deg-text {
    position: absolute;
    padding-top: 23px;
    font-size: 1.2em;
    font-family: ubuntu;
    color: white;
}

.nine_deg_circle {
    position: absolute;
    background-color: #7691C8;
    margin-top: 16em;
    left: 18%;
    z-index: 6;
}

.fifteen_deg_circle {
    position: absolute;
    background-color: #7691C8;
    margin-top: 16em;
    left: 18%;
    z-index: 6;
}

.twentyfive_deg_circle {
    position: absolute;
    background-color: #fc6a42;
    margin-top: 16em;
    left: 63%;
    z-index: 6;
}

.rainy-circle-text {
    position: absolute;
    padding-top: 29px;
    padding-left: 18px;
    font-size: 1.2em;
    color: white;
    font-family: ubuntu;
}

.cloudy-circle-text {
    position: absolute;
    padding-top: 29px;
    padding-left: 13px;
    font-size: 1.2em;
    color: white;
    font-family: ubuntu;
}

.sunny-circle-text {
    position: absolute;
    padding-top: 29px;
    padding-left: 13px;
    font-size: 1.2em;
    color: white;
    font-family: ubuntu;
}

.tri-circle {
    display: flex;
    flex-direction: row;
}

.dash-circle {
    position: relative;
    height: 55px;
    width: 55px;
    background-color: white;
    border-radius: 50%;
    color: rgba(128, 128, 128, 0.233);
    border: 2px dashed rgba(128, 128, 128, 0.233);
    margin-top: 2%;
}

.dash-deg {
    z-index: -2;
    right: 4%;
}

.rainy-dash-text {
    left: -7%;
    z-index: -6;
}

.dash-text {
    position: relative;
    left: 32%;
    top: 35%;
    font-size: smaller;
}

.degree {
    left: 50%;
}

.screenshot-main {
    display: flex;
    flex-direction: column;
}