<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Task</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="newTaskForm">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input class="form-control" type="text" formControlName="title" placeholder="Task Title">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <textarea class="form-control" type="text" formControlName="description" placeholder="Description"></textarea>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select id="priority-select" class="form-control" formControlName="priority">
                        <option disabled selected value>--Select Priority--</option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                </div>
            </div>
            <hr>
            <div>
                <button type="button" class="btn btn-outline-dark" [disabled]="!newTaskForm.valid" (click)="modal.close('Save click')">Save</button>
            </div>

        </form>
    </div>
</ng-template>

<button class="btn btn-outline-primary my-2 my-sm-0" (click)="open(content)">New Task</button>