<div class="container mt-3">
    <div class="row">
        <div class="col col-4" *ngFor="let status of taskStatusList;">
            <div cdkDropList class="col col-11 custom-box p-2" [cdkDropListData]="getTasksOfStatus(status)"
                [cdkDropListConnectedTo]="taskStatusListIds" (cdkDropListDropped)="drop($event)">
                <h5 class="task-list-heading text-center pt-3">{{status}}</h5>
                <div class="mt-3" *ngFor="let task of getTasksOfStatus(status);" cdkDrag
                    [cdkDragDisabled]="status=='Completed'">
                    <app-task [currentTask]=task></app-task>
                </div>
            </div>
            <div class="col col-1"></div>
        </div>
    </div>
</div>