<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Update Task</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="updateTaskForm">
            <div class="form-group row">
                <div class="col-sm-10">
                    <input class="form-control" type="text" formControlName="title" placeholder="Task Title">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <textarea class="form-control" type="text" formControlName="description" placeholder="Description"></textarea>

                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select class="form-control" formControlName="priority">
                        <option disabled selected value>--Select Priority--</option>
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <select class="form-control" formControlName="status">
                        <option disabled selected value>--Select Status--</option>
                        <option value="New">New</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                      </select>
                </div>
            </div>
            <hr>
            <div>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('update')">Update</button>
                <button type="button" class="mx-3 btn btn-outline-danger" (click)="modal.close('delete')">Delete</button>
            </div>

        </form>
    </div>
</ng-template>

<span><i class="bi bi-pencil-square text-dark" (click)="open(content)"></i></span>